<h1>There are <%= @total_posts %> posts on this blog</h1>
<%= form_tag '', class: 'form-query', method: :get do %>
  <div class="col-md-6 form-group">
    <%= text_field_tag 'keyword', params[:keyword], class: 'form-control', placeholder: 'Enter your keyword' %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Search', class: 'btn btn-primary', data: {disable_with: "Searching, please wait..."} %>
  </div>
<% end %>
<% @posts.each do |post|%>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class=""><%= post.title %> <br> <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: "Are you sure?"} %> </h2>
      <p class="lead"><%= raw post.content %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag(render_cover_photo(post), class: 'featurette-image img-responsive center-block') %>
    </div>
  </div>
  <hr class="featurette-divider">
<% end %>
<div class="row">
  <%= paginate @posts %>
</div>